<div class="down_nav">
  <header class="navigation-container | w-full max-w-container">
    <span class="logo">
      <img class="w-full h-full" src="/assets/logo.png" alt="#" />
    </span>
    
      <div class="nav-div | w-auto flex v-center w-full">
        <ul class="nav-list p-0 ml-1">
            {%for item in navigation.navs%}
            <a href={{item.path}} 
                {%if item.path === page.url%}
                    class="active_home"
                {%endif%}
            >{{item.name}}</a>
            {%endfor%}
        </ul> 
      </div>
      <div class="nav-wrapper w-full">
        <button class="nav-open-btn nav-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
        </button>
        <button class="nav-close-btn nav-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg></button>
        <div class="flex ml-auto v-center">
            <button class="signup-btn | btn animated-btn shimmer">Signup now</button>
        </div>
    </div>
  </header>
</div>
