
<div class="notification-container" datadata-open="false">
    <div class="notification" >
      <i class="fa-solid fa-check"></i>
      <span id="alert-msg"></span>
      <i id="alert-close" class="fa-solid fa-times "></i>
    </div>
    </div>